<html>
<head>
<title>FAQ zu ET - Chat</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="blue_tpl/darstellung.css" type="text/css">

</head>
<body bgcolor="#92C8F2" marginheight="0" marginwidth="0" topmargin="2" leftmargin="0">
<table border="0" cellpadding="0" cellspacing="0" width="100%">

  <tr>
   <td width="18"><img name="back_r1_c1" src="blue_tpl/pics/back_r1_c1.gif" width="18" height="17" border="0" alt=""></td>
   <td width="100%" background="blue_tpl/pics/back_r1_c2.gif"><img name="back_r1_c2" src="blue_tpl/pics/back_r1_c2.gif" width="10" height="17" border="0" alt=""></td>
   <td width="17"><img name="back_r1_c3" src="blue_tpl/pics/back_r1_c3.gif" width="17" height="17" border="0" alt=""></td>
  </tr>
  <tr>
   <td background="blue_tpl/pics/back_r2_c1.gif" width="18"><img name="back_r2_c1" src="blue_tpl/pics/back_r2_c1.gif" width="18" height="10" border="0" alt=""></td>
   <td width="100%" background="blue_tpl/pics/back_r2_c2.gif">

   <!-- AGB -->
<div class="gross">AGB für die Benutzung von ET – Chat v2.1a ©</div>
<br>
<br>
<div class="normal">
Mit der Installation dieses Programms auf Ihrem Webserver erklären Sie sich mit folgenden Bedingungen einverstanden:
<ul>
<li>Die Benutzung von ET-Chat v2.1a erfolgt auf eigene Gefahr. Für die möglicherweise entstehenden Schäden an der Hardware, überhöhtes Traffic oder für sonstige negative Auswirkungen wird seitens der SEDesign nicht gehaftet.</li>
<li>Sie dürfen dieses Chat ausschließlich für private Zwecke benutzen. Jeglicher Weiterverkauf dieses Programms oder einzelner Programmteile an dritte ist verboten.</li>
<li>Die Benutzung dieses Chats für die Verbreitung gesetzeswidriger Inhalte ist verboten.</li>
<li>Die Copyrightaufschrift mit der Verlinkung (ET – Chat v2.1a)© darf verschoben, jedoch nicht komplett entfernt werden.</li>
<li>Die Smilies im Chat unterliegen nicht diesen Bedingungen. (WoltLab GbR ©)</li>
<li>Die Templateklasse (tpl.inc.php) des Chats unterliegt nicht diesen Bedingungen. (GNU-LGPL ©) <a href="http://php-pet.sourceforge.net" target="_blank">http://php-pet.sourceforge.net</a></li>
<li>Das Layout des Chats darf nach Wunsch, jedoch unter Beachtung oben stehender Hinweise, verändert bzw. angepasst werden.</li>
<li>Es dürfen beliebige Änderungen im Quellcode (auf eigene Gefahr) angebracht werden.</li>
</ul>
<br>
<br>
Diese AGB würde erstellt am 26.03.2006
<br>
<br>
<br>
SEDesign
</div>

   <!-- ENDE -->

   </td>
   <td background="blue_tpl/pics/back_r2_c3.gif" width="17"><img name="back_r2_c3" src="blue_tpl/pics/back_r2_c3.gif" width="17" height="10" border="0" alt=""></td>
  </tr>
  <tr>
   <td width="18"><img name="back_r3_c1" src="blue_tpl/pics/back_r3_c1.gif" width="18" height="16" border="0" alt=""></td>
   <td width="100%" background="blue_tpl/pics/back_r3_c2.gif"><img name="back_r3_c2" src="blue_tpl/pics/back_r3_c2.gif" width="10" height="16" border="0" alt=""></td>
   <td width="17"><img name="back_r3_c3" src="blue_tpl/pics/back_r3_c3.gif" width="17" height="16" border="0" alt=""></td>
  </tr>
</table>
</body>
</html>