<html>
<head>
<title>FAQ zu ET - Chat</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="blue_tpl/darstellung.css" type="text/css">

</head>
<body bgcolor="#92C8F2" marginheight="0" marginwidth="0" topmargin="2" leftmargin="0">
<table border="0" cellpadding="0" cellspacing="0" width="100%">

  <tr>
   <td width="18"><img name="back_r1_c1" src="blue_tpl/pics/back_r1_c1.gif" width="18" height="17" border="0" alt=""></td>
   <td width="100%" background="blue_tpl/pics/back_r1_c2.gif"><img name="back_r1_c2" src="blue_tpl/pics/back_r1_c2.gif" width="10" height="17" border="0" alt=""></td>
   <td width="17"><img name="back_r1_c3" src="blue_tpl/pics/back_r1_c3.gif" width="17" height="17" border="0" alt=""></td>
  </tr>
  <tr>
   <td background="blue_tpl/pics/back_r2_c1.gif" width="18"><img name="back_r2_c1" src="blue_tpl/pics/back_r2_c1.gif" width="18" height="10" border="0" alt=""></td>
   <td width="100%" background="blue_tpl/pics/back_r2_c2.gif">

   <!-- FAQ -->
	<div class="gross">FAQ zu ET - Chat</div>
   	<br>
	<ul>
	<li><span class="normal"><b>Ich sehe gar kein Text im Chat.</b></span></li>
	<ol><span class="normal">- Ihr Browser unterstützt die AJAX Technologie nicht. Bitte benutzen Sie den passenden Browser. (<a href="http://de.wikipedia.org/wiki/Ajax_%28Programmierung%29">http://de.wikipedia.org/wiki/Ajax_(Programmierung)</a>)</span></ol>
	</ul>

	<ul>
	<li><span class="normal"><b>Der Chat ist sehr langsam und die User verschwinden ständig aus der Anzeige "User Online".</b></span></li>
	<ol><span class="normal">- Ein Chat arbeitet nahe zu in Real Time und ist deshalb auf eine vernünftige Hardware angewiesen. Dieses Problem taucht auf, wenn Ihr Webprovider (oder Ihr eigener Webserver) überlastet ist. Bitte sprechen Sie also in diesem Fall mit ihrem Webspaceanbieter.</span></ol>
	</ul>

	<ul>
	<li><span class="normal"><b>Warum funktionieren die IRC Befehle (z.B.: /p, /help, /admin) hier nicht?</b></span></li>
	<ol><span class="normal">- Weil das hier kein IRC Chanel ist. Ein PHP Chat braucht keine speziellen Kommando Codes. Die Ansteuerung der Blackliste erfolgt ausschließlich über das Modul admin.php</span></ol>
	</ul>

	<ul>
	<li><span class="normal"><b>Wo befinden sich die Wörter, die durch den Bad Word Filter gefiltert werden? Kann diese Bad Word Liste ergänzt werden?</b></span></li>
	<ol><span class="normal">- Die Bad Word Datei ist die bad_words.txt, diese darf natürlich beliebig erweitert und ergänzt werden. Bitte halten Sie sich jedoch an die in der Datei vorgegebene Syntax.</span></ol>
	</ul>

	<ul>
	<li><span class="normal"><b>Darf ich das Quellcode der PHP-Files des ET - Chats verändern?</b></span></li>
	<ol><span class="normal">- Natürlich! Aber alles auf eigene Gefahr. <img src="smilies/wink.gif"></span></ol>
	</ul>

	<ul>
	<li><span class="normal"><b>Darf ich die Aufschrift (ET - Chat v2.1a)&copy; löschen oder ersetzen?</b></span></li>
	<ol><span class="normal">NEIN! Es ist ausdrücklich verboten diese Aufschrift zu löschen oder zu ersetzen. (Lesen Sie dazu AGB.html)</span></ol>
	</ul>

	<ul>
	<li><span class="normal"><b>Wie wähle ich zwischen den vorhandenen Layouts (Skins)?</b></span></li>
	<ol><span class="normal">- In der Datei config.php brauchen Sie lediglich den Wert der Variable $template zu verändern.<br>
							   <font color="#FF0000"> $template = "blue_tpl"; oder $template = "green_tpl"; oder $template = "grey_tpl"; u.s.w. ...</font><br>
							   wobei diese Werte den Verzeichnisnamen mit den Layout - Dateien angeben. Layoutverzeichnisse sind immer an den Endbuchstaben "_tpl" zu erkennen.</span></ol>
	</ul>

	<ul>
	<li><span class="normal"><b>Wie erstelle ich ein eigenes Layout (Skin)?</b></span></li>
	<ol><span class="normal">- Sie können mit dem beliebigen HTML Editor ein eigenes Layout entwickeln. Wichtig ist jedoch, dass die benötigten JavaScripts vorhanden sind (können den vorhandenen Skins entnommen werden) und die Templateeinfügungen (z.B.: &lt;!-- {variable} --&gt;) müssen alle an den richtigen Stellen vorhanden sein. Danach werden alle neuen Dateien im eigenen Verzeichnis gespeichert und das Verzeichnisname in die config.php eingetragen. ($template = "Verzeichnisname";)<br>
								<b>Ich bitte alle User, die sich entschließen eine neue Oberfläche (Skin) für den Chat zu erstellen,
								diese auch an mich zu schicken um es zum freien download anzubieten. Selbstverständlich wird ihre
								Oberfläche unter Ihrem Copyright stehen.</b></span></ol>
	</ul>

   	<ul>
	<li><span class="normal"><b>Noch Fragen???</b></span></li>
	<ol><span class="normal">- Auf der Chatseite <a href="http://et-chat.s-e-d.de" target="_blank">http://et-chat.s-e-d.de</a> finden Sie ein Supportforum.</span></ol>
	<ol><span class="normal">- ICQ Uin: 24532544</span></ol>
	<ol><span class="normal">- eMail: <a href="mailto:et@et-world.de">et@et-world.de</a></span></ol>
	</ul> <br>

   <!-- ENDE -->

   </td>
   <td background="blue_tpl/pics/back_r2_c3.gif" width="17"><img name="back_r2_c3" src="blue_tpl/pics/back_r2_c3.gif" width="17" height="10" border="0" alt=""></td>
  </tr>
  <tr>
   <td width="18"><img name="back_r3_c1" src="blue_tpl/pics/back_r3_c1.gif" width="18" height="16" border="0" alt=""></td>
   <td width="100%" background="blue_tpl/pics/back_r3_c2.gif"><img name="back_r3_c2" src="blue_tpl/pics/back_r3_c2.gif" width="10" height="16" border="0" alt=""></td>
   <td width="17"><img name="back_r3_c3" src="blue_tpl/pics/back_r3_c3.gif" width="17" height="16" border="0" alt=""></td>
  </tr>
</table>
</body>
</html>